run = "npm run replit"
entrypoint = "server/index.js"

[nix]
channel = "stable-23.11"

[env]
NODE_ENV = "development"
PORT = "3000"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true 