# PayPal v2 API Credentials (for existing integration)
PAYPAL_CLIENT_ID=YOUR_PAYPAL_SANDBOX_CLIENT_ID
PAYPAL_SECRET=YOUR_PAYPAL_SANDBOX_SECRET

# PayPal NVP API Credentials (for Express Checkout)
PAYPAL_ENV=live
PAYPAL_NVP_VERSION=204.0
PAYPAL_USER=Lawri.Brasha_api1.mail.com
PAYPAL_PWD=6DTM468SYMUXDTDK
PAYPAL_SIGNATURE=AnIajbrFQ62GWM6OgSe2hummZvclAmiKbmujz30oDsdo.E4YegDg93Ci
BASE_URL=http://localhost:3001
PORT=3001 