# PayPal v2 API Credentials (for existing integration)
PAYPAL_CLIENT_ID=YOUR_PAYPAL_SANDBOX_CLIENT_ID
PAYPAL_SECRET=YOUR_PAYPAL_SANDBOX_SECRET

# PayPal NVP API Credentials (for Express Checkout)
PAYPAL_ENV=live
PAYPAL_NVP_VERSION=204.0
PAYPAL_USER=fxibq_api1.payad.top
PAYPAL_PWD=RFPMQV29EMZS5H42
PAYPAL_SIGNATURE=AlpujLCqbEUcVFp3OtxviWBjHk2GAz7fXU6LtHe9eJKX9IFHyIUzPOPE
BASE_URL=http://localhost:3001
PORT=3001 